/*
 *COLORS:
 *
 *Light green: #7ed56f
 *Medium green: #55c57a
 *Dark green: #28b485
 *
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; /* 1.7 times bigger than default */
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh; /* 95% of the viewport height */
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.801),
      /* need to use rgba for opacity in linear gradients */
        rgba(40, 180, 131, 0.801)
    ),
    url(../img/hero.jpg); /* linear gradient first, then image */
  background-size: cover;
  background-position: top; /* keep image at top on resize */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* TRBL */
  position: relative; /* by setting this to relative, this becomes the reference for .logo-box */
}

.logo-box {
  position: absolute;
  top: 40px; /* the reference point is the parent element set to relative */
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute; /* best way to absolutely center an element */
  top: 40%; /* in relation to the parent element! */
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* this shifts the box 50% on the x axis, 50% on the y, centering it perfectly */
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
}
